.footer {
    background: url(../img/Home/Differentials/bg-overlayer.webp),
        lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    &--container {
        margin: 0 auto;
        max-width: 70vw;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;

        &.item-one {
            padding-bottom: 5vh;
        }

        &.item-two {
            align-items: center;
        }
    }

    .box_text {
        padding-top: 8.2vh;
        display: flex;
        flex-direction: column;

        &--title {
            margin-bottom: 4.2vh;
            @include fontTemplate(2rem, 1, $primaryColor, $bold, $Raleway);
            text-transform: uppercase;
        }

        &--list {
            margin-bottom: 4.1vh;
            ul {
                display: flex;
                flex-direction: column;
                gap: 4vh;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    gap: 1.46vw;

                    @include fontTemplate(
                        2rem,
                        1.4,
                        $primaryColor,
                        $medium,
                        $Raleway
                    );
                }

                a {
                    text-decoration: none;
                }

                .icon {
                    width: 1.3vw;
                    height: auto;
                    object-fit: contain;
                }
            }
        }

        &--social {
            display: flex;
            gap: 0.8vw;

            a {
                background-color: #6060603a;
                width: 3.8vw;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    path {
                        transition: $transition;
                    }
                }

                &:hover {
                    svg path {
                        color: $primaryColor;
                        fill: $primaryColor;
                    }
                }
            }
        }
    }

    .box_logos {
        padding-top: 12.7vh;
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        align-items: end;

        &--main {
            width: 22.5vw;
            height: auto;
            object-fit: contain;
        }

        &--group {
            display: flex;
            align-items: center;
            gap: 5vw;

            img {
                height: auto;
                object-fit: contain;

                &:nth-child(1) {
                    width: 6.6vw;
                }
                &:nth-child(2) {
                    width: 8vw;
                }
                &:nth-child(3) {
                    width: 2.5vw;
                }
            }
        }
    }

    &-bottom {
        background-color: #d2a6710c;
        padding: 3vh 0;
        &--copyright {
            @include fontTemplate(
                1.4rem,
                1,
                $primaryColor,
                $semi-bold,
                $Raleway
            );
        }

        &--weecom {
            transition: $transition;
            width: 2.2vw;
            height: auto;

            &:hover {
                transform: rotate(360deg);

                path {
                    color: $accentColor;
                    fill: $accentColor;
                }
            }
        }
    }

    @media (max-width: 799px) {
        &--container {
            max-width: 90vw;

            &.item-one {
                padding-bottom: 40px;
                grid-template-columns: 1fr;
            }

            &.item-two {
                align-items: center;
            }
        }

        .box_text {
            padding-top: 63px;

            &--title {
                margin-bottom: 20px;
                font-size: 1.6rem;
                text-align: center;
            }

            &--list {
                margin-bottom: 4.1vh;
                ul {
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    li {
                        justify-content: center;
                        gap: 10px;
                        font-size: 1.6rem;
                    }

                    .icon {
                        height: 16px;
                        width: auto;
                        object-fit: contain;
                    }
                }
            }

            &--social {
                display: flex;
                gap: 12px;
                justify-content: center;

                a {
                    width: 50px;
                }
            }
        }
        .box_logos {
            padding-top: 63px;
            gap: 20px;
            align-items: center;

            &--main {
                width: 250px;
            }

            &--group {
                display: flex;
                align-items: center;
                gap: 40px;

                img {
                    height: auto;
                    object-fit: contain;

                    &:nth-child(1) {
                        width: 88.075px;
                    }
                    &:nth-child(2) {
                        width: 98.65px;
                    }
                    &:nth-child(3) {
                        width: 40.368px;
                    }
                }
            }
        }
        &-bottom {
            background-color: #d2a6710c;
            padding: 20px 0;
            &--copyright {
                font-size: 1.2rem;
            }

            &--weecom {
                width: 24px;
            }
        }
    }
}
