#page-home {
    .section_herobanner {
        position: relative;
        &--container {
            display: grid;
            grid-template-columns: 53.125vw 1fr;
            min-height: 100vh;
            height: auto;
        }

        &--background {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            inset: 0;
            object-fit: cover;
            background-color: $secondColor;
        }

        .box_slider {
            width: 100%;
            height: 100vh;

            &--content {
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                img {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .box_text {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 7vh;
            position: relative;

            &--logo {
                margin-left: 11.7vw;
                margin-bottom: 1.3vh;
                width: 20vw;
                height: auto;
            }

            &--text {
                margin-left: 11.7vw;
                margin-bottom: 2.3vh;
                color: $accentColor;
                @include fontTemplate(
                    2.4rem,
                    1,
                    $accentColor,
                    $regular,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--description {
                margin-left: 11.7vw;
                margin-bottom: 6vh;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $primaryColor,
                    $medium,
                    $Butler
                );
                text-transform: uppercase;
                span {
                    color: $accentColor;
                }
            }

            &--link {
                margin-left: 11.7vw;
                margin-bottom: 13.8vh;

                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                padding-inline: 1.5vw;
                padding-top: 1vh;
                padding-bottom: 1vh;
                border: 2px solid $accentColor;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                height: fit-content;
                transition: $transition;

                &:hover {
                    background-color: $accentColor;
                    color: $primaryColor;
                }
            }

            &--locale {
                margin-left: 6.3vw;
                margin-bottom: 2vh;
                display: flex;
                align-items: center;
                gap: 0.7vw;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $primaryColor,
                    $medium,
                    $Raleway
                );
                text-decoration: none;
            }

            .style {
                &_one {
                    margin-left: 5.4vw;
                    margin-bottom: 1.2vh;
                    width: -webkit-fill-available;
                    height: 1px;
                    background-color: rgb(210 166 113 / 30%);
                    position: relative;

                    &::before {
                        content: "";
                        width: 1.7vw;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: $accentColor;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &_two {
                    width: 100%;
                    width: -webkit-fill-available;
                    height: 1px;
                    background-color: rgb(210 166 113 / 30%);
                }
            }
        }

        // Details
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(50%);
            width: 15vw;
            aspect-ratio: 2.8;
            background-color: $accentColor;
            z-index: 10;
        }

        @media (max-width: 799px) {
            &--container {
                grid-template-columns: 1fr;
                min-height: 746px;
            }

            &--background {
                display: none;
            }

            .box_slider {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                inset: 0;
                z-index: -1;
            }
            .box_text {
                padding-bottom: 77px;
                background-color: rgb(35 26 16 / 67%);

                &--logo {
                    margin-left: 5vw;
                    margin-bottom: 20px;
                    width: 273px;
                    height: auto;
                }

                &--text {
                    margin-left: 5vw;
                    margin-bottom: 20px;
                    color: $accentColor;
                    font-size: 1.8rem;
                }

                &--description {
                    margin-left: 5vw;
                    margin-bottom: 42px;
                }

                &--link {
                    margin-left: 5vw;
                    margin-bottom: 100px;
                    width: 135px;
                    height: 50px;
                    padding: 0px !important;
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &--locale {
                    margin-left: 2vw;
                    margin-top: 10px;
                    font-size: 1.8rem;
                    gap: 1.8rem;
                }

                .style {
                    &_one {
                        margin-left: 2vw;
                        margin-bottom: 10px;

                        &::before {
                            width: 20px !important;
                        }
                    }
                    &_two {
                        width: 215px;
                        height: 1px;
                        background-color: $accentColor;
                    }
                }
            }

            &::after {
                width: 196px;
                height: 70px;
            }
        }
    }

    .section_region {
        background-color: #231f20;
        position: relative;
        .region_line-1{
            position: absolute;
            width: 100%;
            bottom: 30vh;
            left: 0;
        }
        .region_line-2{
            position: absolute;
            right: 44vw;
            bottom: 0;
        }
        .region_line-3{
            position: absolute;
            right: 7.5vw;
            bottom: 0;
        }
        &--container {
            padding-top: 9.6vh;
            padding-left: 15vw;
            padding-bottom: 12.3vh;
            display: grid;
            grid-template-columns: 1fr 24.68vw;
            gap: 30px;
            z-index: 9;
            position: relative;
        }

        .box_text {
            display: grid;
            grid-template-columns: 1fr 23.22vw;
            gap: 4vw;

            .grid-one {
                display: flex;
                flex-direction: column;
            }

            &--text {
                margin-bottom: 0.1vh;
                @include fontTemplate(
                    2.4rem,
                    1,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--title {
                margin-bottom: 9.8vh;
                @include fontTemplate(
                    4.8rem,
                    1.5,
                    $primaryColor,
                    $extra-bold,
                    $Butler
                );
            }

            &--list {
                margin-bottom: 11vh;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $primaryColor,
                    $light,
                    $Raleway
                );

                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1.4vh;
                    list-style: disc outside;
                }

                li {
                    list-style: disc outside;
                }
            }

            &--image {
                height: 87%;
                align-self: end;
            }
        }

        .box_image {
            width: 100%;
            height: auto;
            aspect-ratio: 3.617;
        }

        .box_grid {
            &--one {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            &--two {
                height: 100%;
                width: 100%;
                align-self: end;
            }
        }

        .box_grid_mobile {
            display: none;
        }

        @media (max-width: 799px) {
            padding-bottom: 63px;
            &--container {
                grid-template-columns: 1fr;
                padding: 0px;
                gap: 0px;
            }

            .box_text {
                margin: 0 auto;
                width: 90%;
                display: flex;
                gap: 0;
                padding-top: 63px;

                .grid-one {
                    display: flex;
                    flex-direction: column;
                }

                &--text {
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }

                &--title {
                    font-size: 3rem;
                    margin-bottom: 40px;
                }

                &--list {
                    font-size: 1.6rem;
                    margin-left: 30px;
                    margin-bottom: 40px;

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }
                }

                &--image {
                    display: none;
                }
            }

            .box_grid {
                &--one {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }

                &--two {
                    height: 100%;
                    width: 100%;
                    align-self: end;
                }
            }

            .box_image {
                display: none;
            }

            .box_grid_mobile {
                display: grid;
                grid-template-areas:
                    "left-top right"
                    "left-bottom right"
                ;
                grid-template-columns: 1fr 38vw;
                gap: 10px;

                &--image{
                    &:nth-child(1){
                        margin-top: 20px;
                        width: 65%;
                        aspect-ratio: 1;
                        grid-area: left-top;
                        justify-self: flex-end;
                        align-self: flex-end;
                    }
                    &:nth-child(2){
                        width: 100%;
                        aspect-ratio: 2;
                        grid-area: left-bottom;
                    }
                    &:nth-child(3){
                        width: 100%;
                        height: 100%;
                        grid-area: right;
                    }
                }
            }
        }
    }

    .section_convention {
        position: relative;
        background-color: white;
        &--container {
            padding-left: 15vw;
            display: grid;
            grid-template-columns: 1fr 41.09vw;
            gap: 0px;
        }

        .box_text {
            padding-top: 10vh;
            display: flex;
            flex-direction: column;

            &--text {
                margin-bottom: 0.2vh;
                @include fontTemplate(
                    2.4rem,
                    1,
                    $accentColor,
                    $regular,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--title {
                margin-bottom: 6.7vh;
                @include fontTemplate(
                    4.8rem,
                    1.5,
                    $accentColor,
                    $extra-bold,
                    $Butler
                );
            }

            &--description {
                margin-bottom: 6.1vh;
                @include fontTemplate(
                    3.6rem,
                    1.4,
                    $secondColor,
                    $medium,
                    $Raleway
                );
            }

            &--list {
                display: flex;
                flex-direction: column;
                gap: 1.4vh;
                list-style: disc outside;
                margin-bottom: 39vh;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $secondColor,
                    $light,
                    $Raleway
                );

                li {
                    list-style: disc outside;
                    &::marker {
                        color: $accentColor;
                    }
                }
            }
        }

        .box_image {
            width: 100%;
            height: 100%;

            .box-detail {
                position: absolute;
                left: 0;
                bottom: 5.8vh;
                z-index: 2;
                transform: translateX(-72%);
                width: 22.3vw;
                aspect-ratio: 1;
            }
        }

        // Details
        &::before {
            content: "";
            position: absolute;
            background-color: $accentColor;
            width: 5vw;
            top: 0;
            left: 6.7vw;
            aspect-ratio: 0.6;
        }

        @media (max-width: 799px) {
            &--container {
                padding-left: 0vw;
                display: grid;
                grid-template-columns: 1fr;
            }

            .box_text {
                width: 90%;
                margin: 0 auto;
                padding-top: 63px;

                &--text {
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                }

                &--title {
                    margin-bottom: 42px;
                    font-size: 3rem;
                }

                &--description {
                    margin-bottom: 21px;
                    font-size: 2rem;
                }

                &--list {
                    font-size: 1.6rem;
                    margin-bottom: 120px;
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        padding-left: 30px;
                    }
                }
            }

            .box_image {
                width: 100%;
                aspect-ratio: 1.8;
                height: auto;

                .box-detail {
                    left: auto;
                    bottom: auto;
                    right: 5vw;
                    top: 0;
                    transform: translateY(-62%);
                    width: 155px;
                    aspect-ratio: 1;
                }
            }

            // Details
            &::before {
                width: 70px;
                top: 0;
                left: auto;
                right: 0;
                aspect-ratio: 0.6;
            }
        }
    }

    .section_about {
        background-color: #231f20;
        position: relative;
        .about_line-1{
            position: absolute;
            left: 7.5vw;
            top: 0;
        }
        .about_line-2{
            position: absolute;
            width: 100%;
            top: 76vh;
        }
        .about_line-3{
            position: absolute;
            right: 7.5vw;
            bottom: 0;
        }
        &--container {
            display: flex;
            flex-direction: column;
            gap: 0px;
            overflow: hidden;
            position: relative;
            z-index: 9;
        }

        .box_grid {
            display: grid;
            grid-template-columns: 1fr 38.43vw;
            gap: 0;
            &--one {
                .box_text {
                    padding-left: 15vw;
                    padding-top: 8.7vh;
                    padding-right: 11vw;
                    display: flex;
                    flex-direction: column;

                    &--logo {
                        width: 23.6vw;
                        height: auto;
                        object-fit: contain;
                        margin-bottom: 13vh;
                    }

                    &--description {
                        display: flex;
                        flex-direction: column;
                        gap: 2.8vh;

                        p {
                            @include fontTemplate(
                                2.4rem,
                                1.5,
                                $primaryColor,
                                $light,
                                $Raleway
                            );
                        }
                    }
                }

                .box_image {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    img {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &--two {
                display: flex;
                flex-direction: column;

                .box_card {
                    &--one {
                        align-self: flex-end;
                        width: 48%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        background-color: $primaryColor;
                        padding: 8.8vh 14.8vw 9.3vh 5.5vw;
                        position: relative;

                        .box_card--description {
                            @include fontTemplate(
                                2.4rem,
                                1.36,
                                $secondColor,
                                $light,
                                $Raleway,
                                end
                            );

                            strong {
                                font-size: 3.4rem;
                                font-weight: bold;
                            }

                            span {
                                color: $accentColor;
                            }
                        }
                    }
                    &--two {
                        margin-top: -15vh;
                        width: 54%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        background-color: $accentColor;
                        padding: 8vh 4vw 12.5vh 21vw;
                        position: relative;

                        .box_card--logo {
                            width: 15.46vw;
                            height: auto;
                            object-fit: contain;
                        }

                        .box_card--description {
                            @include fontTemplate(
                                2.4rem,
                                1.5,
                                $primaryColor,
                                $light,
                                $Raleway
                            );
                        }
                    }
                }
            }
        }

        .box_plant {
            width: 71vw;
            margin: 5.5vh auto 12vh;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        @media (max-width: 799px) {
            .box_grid {
                grid-template-columns: 1fr;

                &--one {
                    gap: 30px;
                    .box_text {
                        padding: 60px 0 0 0 !important;
                        width: 90%;
                        margin: 0 auto;

                        &--logo {
                            width: 320px;
                            margin-bottom: 60px;
                        }

                        &--description {
                            gap: 15px;

                            p {
                                font-size: 1.6rem;
                            }
                        }
                    }

                    .box_image {
                        width: 50%;
                        height: auto;
                        aspect-ratio: 1;
                        position: relative;
                        align-self: flex-end;
                        justify-self: flex-end;
                    }
                }

                &--two {
                    .box_card {
                        &--one {
                            width: 100%;
                            height: auto;
                            padding: 63px 5vw 93px 5vw;

                            .box_card--description {
                                font-size: 1.6rem;

                                strong {
                                    font-size: 2rem;
                                }
                            }
                        }
                        &--two {
                            margin-top: -30px;
                            width: 90%;
                            padding: 63px 5vw;

                            .box_card--logo {
                                width: 207px;
                            }

                            .box_card--description {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
            .box_plant {
                width: 90vw;
                margin: 46px auto !important;
            }
        }
    }

    .section_differential {
        position: relative;
        background: url(../img/Home/Differentials/bg-overlayer.webp),
            lightgray 50% / cover no-repeat;
        padding-bottom: 12vh;
        .differential_line-1{
            position: absolute;
            right: 7.5vw;
            top: 0;
        }
        .differential_line-2{
            position: absolute;
            left: 35.9vw;
            top: 0;
        }
        &--container {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            position: relative;
            z-index: 9;
        }
        .box_text {
            display: grid;
            grid-template-columns: 36vw 1fr;
            gap: 0;

            &--title {
                padding-top: 14vh;
                padding-left: 15vw;
                @include fontTemplate(3.6rem, 1, $primaryColor, $bold, $Butler);
                text-transform: uppercase;
            }

            &--description {
                display: flex;
                align-items: center;
                padding-left: 2.5vw;
                height: 100%;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $primaryColor,
                    $light,
                    $Raleway
                );
            }

            // Grid

            .box_grid {
                &--one {
                    border-right: 1px solid rgb(210 166 113 / 30%);
                }
            }

            // Details
            .details {
                &--line {
                    margin-top: 1vh;
                    margin-bottom: 15.3vh;
                    width: -webkit-fill-available;
                    height: 1px;
                    background-color: rgb(210 166 113 / 30%);
                    position: relative;

                    &::before {
                        content: "";
                        width: 1.5vw;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: $accentColor;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(50%, -50%);
                    }
                }
            }
        }
        .box_image_desktop {
            display: grid;
            grid-template-columns: 56.56vw 1fr;
            gap: 0.83vw;

            &--grid-one {
                display: flex;
                flex-direction: column;
                gap: 0.83vw;

                .item-one {
                    display: grid;
                    grid-template-columns: 41.15vw 1fr;
                    gap: 0.83vw;

                    .image-one {
                        width: 100%;
                        aspect-ratio: 2;
                    }
                    .image-two {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-two {
                    display: grid;
                    grid-template-columns: 27.86vw 1fr;
                    gap: 0.83vw;

                    .image-one {
                        width: 100%;
                        aspect-ratio: 1.24;
                    }

                    .image-two {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &--grid-two {
                display: flex;
                flex-direction: column;
                gap: 0.83vw;

                .item-one {
                    display: grid;
                    grid-template-columns: 20.8vw 1fr;
                    gap: 0.83vw;

                    .image-one {
                        width: 100%;
                        aspect-ratio: 0.83;
                    }
                    .image-two {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-two {
                    display: flex;
                    height: -webkit-fill-available;
                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .image-block {
                overflow: hidden;

                &:hover {
                    .image-description {
                        transform: translateY(0);
                    }
                }
            }

            .image-description {
                transform: translateY(-110%);
                transition: 0.4s;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(35, 31, 32, 0.7);
                display: flex;
                align-items: end;
                padding: 0 2vw 6.2vh 2vw;

                &--zoom {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    padding: 1.3vw;
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 1.3vw;
                        height: auto;
                        object-fit: contain;
                        position: relative;
                    }
                }

                &--description {
                    @include fontTemplate(
                        2.4rem,
                        1.5,
                        $primaryColor,
                        $light,
                        $Raleway
                    );
                }
            }
        }
        .box_image_mobile {
            display: none;
        }

        @media (max-width: 799px) {
            padding-bottom: 90px;
            .box_text {
                grid-template-columns: 1fr;

                &--title {
                    padding-top: 60px;
                    padding-left: 2.5vw;
                    font-size: 3rem;
                    font-weight: $medium;
                }

                &--description {
                    padding-left: 2.5vw;
                    font-size: 1.6rem;
                    margin-bottom: 70px;
                }

                // Grid

                .box_grid {
                    &--one {
                        border-left: 1px solid $accentColor;
                        border-right: 0;
                        width: -webkit-fill-available;
                        margin-left: 2.5vw;
                        border-right: 1px solid;
                        height: fit-content;
                    }
                }

                // Details
                .details {
                    &--line {
                        margin-top: 10px;
                        margin-bottom: 12px;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
            .box_image_desktop {
                display: none;
            }
            .box_image_mobile {
                display: flex;
                flex-direction: column;
                gap: 6px;

                &--grid-one {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    height: auto;
                    aspect-ratio: 2.3;
                    gap: 6px;
                }

                &--grid-two {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    height: auto;
                    aspect-ratio: 2;
                    gap: 6px;
                }

                .image {
                    &-one {
                        width: 100%;
                        aspect-ratio: 2;
                    }

                    &-seven {
                        width: 100%;
                        aspect-ratio: 2.3;
                    }
                }
            }
            .image-block {
                overflow: hidden;

                &:hover {
                    .image-description {
                        transform: translateY(0);
                    }
                }
            }
            .image-description {
                transform: translateY(-110%);
                transition: 0.4s;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(35, 31, 32, 0.7);
                display: flex;
                align-items: end;
                padding: 0px 15px 25px 15px;

                &--zoom {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    padding: 10px;
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 15px;
                        height: auto;
                        object-fit: contain;
                        position: relative;
                    }
                }

                &--description {
                    @include fontTemplate(
                        1.2rem,
                        1.5,
                        $primaryColor,
                        $light,
                        $Raleway
                    );
                }
            }
        }
    }

    .section_investing {
        position: relative;
        background-color: $primaryColor;
        &--container {
            padding-left: 15vw;
            display: grid;
            grid-template-columns: 1fr 38.4vw;
            gap: 0px;
        }

        .box_text {
            padding-top: 9.8vh;
            padding-right: 5vw;
            display: flex;
            flex-direction: column;

            &--text {
                @include fontTemplate(
                    2.4rem,
                    1,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--title {
                margin-bottom: 10vh;
                @include fontTemplate(
                    4.8rem,
                    1.1,
                    $secondColor,
                    $extra-bold,
                    $Butler
                );

                span {
                    color: $accentColor;
                }
            }

            &--description {
                margin-bottom: 11.5vh;
                display: flex;
                flex-direction: column;
                gap: 2.6vh;
                p {
                    @include fontTemplate(
                        2.4rem,
                        1.5,
                        $secondColor,
                        $medium,
                        $Raleway
                    );
                }
            }

            &--link {
                margin-bottom: 37.4vh;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                padding-inline: 3.1vw;
                padding-top: 2vh;
                padding-bottom: 2vh;
                border: 2px solid $accentColor;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                height: fit-content;
                transition: $transition;

                &:hover {
                    background-color: $accentColor;
                    color: $primaryColor;
                }
            }
        }

        .box_image {
            align-self: flex-end;
            justify-self: flex-end;
            width: 100%;
            height: 68%;

            .box-detail {
                position: absolute;
                left: 0;
                bottom: 0vh;
                transform: translateX(-83%);
                width: 18vw;
                aspect-ratio: 1;
            }
        }

        // Details
        &::before {
            content: "";
            position: absolute;
            background-color: $accentColor;
            width: 5vw;
            top: 0;
            left: 6.7vw;
            aspect-ratio: 0.6;
        }

        @media (max-width: 799px) {
            &--container {
                padding-left: 0vw;
                display: grid;
                grid-template-columns: 1fr;
            }

            .box_text {
                width: 90%;
                margin: 0 auto;
                padding-top: 100px;

                &--text {
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                }

                &--title {
                    margin-bottom: 42px;
                    font-size: 3rem;
                }

                &--description {
                    margin-bottom: 63px;
                    p {
                        font-size: 1.6rem;
                    }
                }

                &--link {
                    margin-bottom: 42px;
                    padding: 0px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    width: 200px;
                    height: 60px;
                }
            }

            .box_image {
                width: 70%;
                aspect-ratio: 1;
                height: auto;

                .box-detail {
                    bottom: 0;
                    left: -30vw;
                    transform: translateX(0);
                    width: 35vw;
                    aspect-ratio: 1;
                }
            }

            // Details
            &::before {
                width: 70px;
                top: 0;
                left: auto;
                right: 0;
                aspect-ratio: 0.6;
            }
        }
    }

    .section_events {
        position: relative;
        background-color: $secondColor;
        .events_line-1{
            position: absolute;
            left: 7.5vw;
        }
        .events_line-2{
            position: absolute;
            right: 7.5vw;
        }
        .events_line-3{
            position: absolute;
            width: 100%;
            bottom: 20vh;
        }
        &--container {
            padding-left: 15vw;
            display: grid;
            grid-template-columns: 1fr 43vw;
            gap: 0px;
            position: relative;
            z-index: 9;
        }

        .box_text {
            padding-top: 9.8vh;
            display: flex;
            flex-direction: column;

            &--text {
                @include fontTemplate(
                    2.4rem,
                    1,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--title {
                margin-bottom: 10vh;
                @include fontTemplate(
                    4.8rem,
                    1.1,
                    $primaryColor,
                    $extra-bold,
                    $Butler
                );

                span {
                    color: $accentColor;
                }
            }

            &--description {
                margin-bottom: 12.7vh;
                display: flex;
                flex-direction: column;
                gap: 3.3vh;
                p {
                    @include fontTemplate(
                        2.4rem,
                        1.5,
                        $primaryColor,
                        $light,
                        $Raleway
                    );

                    &:first-child {
                        font-weight: $medium;
                    }
                }
            }

            &--link {
                margin-bottom: 36vh;
                @include fontTemplate(
                    2.4rem,
                    1.5,
                    $accentColor,
                    $medium,
                    $Raleway
                );
                padding-inline: 3.1vw;
                padding-top: 2vh;
                padding-bottom: 2vh;
                border: 2px solid $accentColor;
                text-decoration: none;
                text-transform: uppercase;
                width: fit-content;
                height: fit-content;
                transition: $transition;

                &:hover {
                    background-color: $accentColor;
                    color: $primaryColor;
                }
            }
        }

        .box_image {
            align-self: flex-end;
            justify-self: flex-end;
            width: 120%;
            height: 48.5%;

            .box-detail {
                position: absolute;
                right: 13.5vw;
                top: 0vh;
                transform: translateY(-63%);
                width: 13vw;
                aspect-ratio: 1;
                background-color: $primaryColor;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 62%;
                    object-fit: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        @media (max-width: 799px) {
            &--container {
                padding-left: 0vw;
                display: grid;
                grid-template-columns: 1fr;
            }

            .box_text {
                width: 90%;
                margin: 0 auto;
                padding-top: 100px;

                &--text {
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                }

                &--title {
                    margin-bottom: 42px;
                    font-size: 3rem;
                }

                &--description {
                    margin-bottom: 63px;
                    p {
                        font-size: 1.6rem;
                        &:first-child {
                            font-weight: $light;
                        }
                    }
                }

                &--link {
                    margin-bottom: 150px;
                    padding: 0px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    width: 200px;
                    height: 60px;
                }
            }

            .box_image {
                width: 100%;
                aspect-ratio: 1.5;
                height: auto;

                .box-detail {
                    top: 0;
                    right: 5vw;
                    transform: translateY(-70%);
                    width: 35vw;
                    aspect-ratio: 1;
                }
            }
        }
    }

    .section_contact {
        background-color: $primaryColor;
        position: relative;
        &--container {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0;
            overflow: hidden;
        }

        .box_grid {
            position: relative;
            z-index: 2;
        }

        .box_text {
            padding-top: 9.5vh;
            padding-left: 15vw;
            padding-right: 1vw;
            &--text {
                @include fontTemplate(
                    2.4rem,
                    1,
                    $secondColor,
                    $medium,
                    $Raleway
                );
                text-transform: uppercase;
            }

            &--title {
                margin-bottom: 3.9vh;
                @include fontTemplate(
                    4.8rem,
                    1.1,
                    $accentColor,
                    $extra-bold,
                    $Butler
                );
            }

            &--description {
                margin-bottom: 12.5vh;
                display: flex;
                flex-direction: column;
                gap: 3.3vh;
                p {
                    @include fontTemplate(
                        2.4rem,
                        1.5,
                        $secondColor,
                        $light,
                        $Raleway
                    );
                }
            }
        }

        .box_image {
            z-index: 1;

            &::after{
                content: '';
                background-color: rgb(35 26 16 / 67%);
                position: absolute;
                inset: 0;
                object-fit: cover;
            }
        }

        @media (max-width: 799px) {
            &--container {
                display: flex;
                flex-direction: column;
                gap: 0;
                overflow: hidden;
            }
            .box_grid {
                position: relative;
                z-index: 2;
            }

            .box_text {
                padding-top: 65px;
                padding-inline: 5vw;
                &--text {
                    font-size: 1.8rem;
                }

                &--title {
                    margin-bottom: 42px;
                    font-size: 3rem;
                }

                &--description {
                    margin-bottom: 42px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    p {
                        font-size: 1.6rem;
                    }
                }
            }

            .box_image {
                height: 653px;
                width: 100%;
                margin-top: -470px;
            }
        }
    }
}
