// DEFAULT
@import 'general/reset';
@import 'general/media-screen';
@import 'general/variable';
@import 'general/color';
@import 'general/fonts';
@import 'general/mixins';
@import 'general/common';

// LAYOUTS
@import 'layout/header';
@import 'layout/footer';

// COMPONENTS
@import 'components/modal/zoom_modal.scss';
@import 'components/fixed/back_to_top.scss';
@import 'components/fixed/next_section.scss';
@import 'components/forms/contact_forms.scss';
@import 'components/modal/forms/error_message.scss';
@import 'components/fixed/whatsapp_icon.scss';

// LIBS
@import 'libs/panzoom.scss';
@import 'libs/images.scss';
@import 'libs/keyframes.scss';
@import 'libs/lenisScroll.scss';
@import 'libs/enter_elements.scss';

// PAGES
@import 'pages/page404';
@import 'pages/home';
@import 'pages/offers.scss';

//sass --watch resources/site/assets/sass/main.scss:public/site/css/main.css

body{
    &.block-scroll{
        overflow: hidden !important;
    }

    & {
        scrollbar-width: auto;
        scrollbar-color: $accentColor $secondColor;
    }
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: $secondColor;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $accentColor;
        border-radius: 0px;
        border: 3px none $secondColor;
    }
}