#next-section-anchor{
    position: absolute;
    z-index: 100;

    right: 5vw;
    bottom: 0;

    svg{
        width: 10.6vh;
        object-fit: contain;
        height: auto;

        @media (max-width: 799px) {
            width: 70px !important;
        }
    }
}