.social{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: fixed;
    left: 6.5vw;
    top: 43vh;
    align-items: center;
    z-index: 99;
    @media (max-width: 799px) {
        display: none;
    }
}
